.custom-scrollbar::-webkit-scrollbar {
    width: 5px;
    height: 5px;
}
.custom-scrollbar::-webkit-scrollbar-track {
    background: transparent;
}
.custom-scrollbar::-webkit-scrollbar-thumb {
    background: #18181b;
    border-radius: 99px;
}
.custom-scrollbar::-webkit-scrollbar-thumb:hover {
    background: #27272a;
}

[v-cloak] {
    display: none !important;
}

.pitch-black-card {
    background-color: #050505;
}
.pitch-black-card:hover {
    background-color: #0a0a0a;
}

/* Extra small screen helper styling rules */
@media (max-w: 360px) {
    .xs\:hidden {
        display: none !important;
    }
}
